@{
    Layout = "~/Views/Shared/_Layout_List.cshtml";
}

<div class="fx-content">
    <div id="toobar">
        <div class="btn-group btn-group-sm">
            <button onclick="openForm('', '添加数据');" type="button" class="btn btn-default" aria-label="Left Align">
                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                添加
            </button>
            <button onclick="deleteData();" type="button" class="btn btn-default" aria-label="Right Align">
                <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                删除
            </button>
            <button type="button" class="btn btn-default" aria-label="Right Align" onclick="javascript: location.reload();">
                <span class="glyphicon glyphicon-refresh" aria-hidden="true"></span>
                刷新
            </button>
        </div>
    </div>
    <div class="fx-wrapper">
        <form class="form-inline" id="searchForm">
            <div class="form-group">
                <label>所属类型</label>
                <select class="selectpicker" id="TypeId" name="TypeId" data-style="btn-default btn-sm" data-width="100px"></select>
                <label>状态</label>
                <select class="selectpicker" id="Status" name="Status" data-style="btn-default btn-sm" data-width="100px">
                    <option value="">请选择</option>
                    <option value="1">正常</option>
                    <option value="2">隐藏</option>
                </select>
                <label>标题</label>
                <input type="text" class="form-control input-sm" name="HelpTitle" id="HelpTitle" placeholder="标题">
                <label>时间</label>
                <input name="startTime" id="startTime" type="text" data-date-format="yyyy-mm-dd hh:ii:ss" class="form-control">
                <label>~</label>
                <input name="endTime" id="endTime" type="text" data-date-format="yyyy-mm-dd hh:ii:ss" class="form-control">
            </div>
            <div class="form-group">
                <button type="button" class="btn btn-default btn-sm" onclick="javascript: $('#dataTable').bootstrapTable('refresh', { silent: true });">
                    <i class="glyphicon glyphicon-search"></i>
                    查询
                </button>
            </div>
        </form>
    </div>
    <div class="fx-wrapper">
        <table id="dataTable" class="table-bordered"></table>
    </div>
</div>

<script>
    var $table = $('#dataTable');

    $(function () {
        initTable();
        bindEvent();
    });

    //初始化表格
    function initTable() {
        $table.bootstrapTable({
            url: '/Help/Dev_Help/GetDataList',
            idField: 'Id',
            method: 'post',
            contentType: 'application/x-www-form-urlencoded',
            queryParamsType: '',
            clickToSelect: false,
            pagination: true,
            sidePagination: "server",
            pageNumber: 1,
            pageSize: 30,
            pageList: [10, 30, 60, 100],
            columns: [
                { title: 'ck', field: 'ck', checkbox: true, width: '3%' },
                { title: '所属类型', field: 'Name', width: '5%' },
                { title: '标题', field: 'HelpTitle', width: '5%', },
                { title: '内容', field: 'HelpContent', width: '5%', visible: false },
                { title: '主图', field: 'HelpPic', width: '5%', visible: false },
                { title: '浏览数量', field: 'ClickNum', width: '5%' },
                { title: '评论数量', field: 'CommentNum', width: '5%' },
                { title: '收藏数量', field: 'CollectNum', width: '5%' },
                { title: '点赞数量', field: 'GoodNum', width: '5%' },
                { title: '打赏累计', field: 'RewardFee', width: '5%' },
                { title: '创建时间', field: 'CreateTime', width: '5%' },
                {
                    title: "状态", field: 'Status', width: '5%',
                    formatter: function (cellvalue, options, rowObject) {
                        switch (cellvalue) {
                            case 1:
                                return "正常";
                                break;
                            case 2:
                                return "隐藏";
                                break;
                            default:
                        }
                    }
                },
                { title: '排序', field: 'Sort', width: '5%' },
                {
                    title: '操作', field: '_', width: '80%', formatter: function (value, row) {
                        var builder = new BtnBuilder();
                        builder.AddBtn({ icon: 'glyphicon-edit', function: 'openForm', param: [row['Id']] });
                        builder.AddBtn({ icon: 'glyphicon-trash', function: 'deleteData', param: [row['Id']] });

                        return builder.build();
                    }
                }
            ],
            queryParams: function (params) {
                var searchParams = $('#searchForm').getValues();
                $.extend(params, searchParams);
                return params;
            }
        });
    }

    //绑定事件
    function bindEvent() {
        $('#TypeId').selectpicker({
            url: '/Help/Dev_HelpType/GetDataList_NoPagin',
            valueField: 'Id',
            textField: 'Name'
            //pleaseSelect: false
        });
        $('#startTime').datetimepicker({
            language: 'zh-CN',
        });
        $('#endTime').datetimepicker({
            language: 'zh-CN',
        });

    }

    //打开表单
    function openForm(id, title) {
        dialogOpen({
            id: 'form',
            title: title,
            btn: ['确定', '取消'],
            height: '80%',
            url: '/Help/Dev_Help/Form?id={0}'.format(id || ''),
            yes: function (window, body) {
                window.submitForm();
            }
        });
    }

    //删除数据
    function deleteData(id) {
        dialogComfirm('确认删除吗？', function () {
            var ids = [];

            if (typeof (id) == 'string') {//单条数据
                ids.push(id);
            } else {//多条数据
                var rows = $table.bootstrapTable('getSelections');
                if (rows.length == 0) {
                    dialogError('请选择需要删除的数据！');
                    return;
                } else {
                    $.each(rows, function (index, value) {
                        ids.push(value['Id']);
                    })
                }
            }

            loading();
            $.postJSON('/Help/Dev_Help/DeleteData', { ids: JSON.stringify(ids) }, function (resJson) {
                loading(false);

                if (resJson.Success) {
                    $table.bootstrapTable('refresh');
                    dialogSuccess('删除成功!');
                }
                else {
                    dialogError(resJson.Msg);
                }
            });
        });
    }
</script>
