@{
    Layout = "~/Views/Shared/_Layout_List.cshtml";
}

<div class="fx-content">
    <div id="toobar">
        <div class="btn-group btn-group-sm">
            <button onclick="openForm('', '添加数据');" type="button" class="btn btn-default" aria-label="Left Align">
                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                添加
            </button>
            <button onclick="deleteData();" type="button" class="btn btn-default" aria-label="Right Align">
                <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                删除
            </button>
            <button type="button" class="btn btn-default" aria-label="Right Align" onclick="javascript: location.reload();">
                <span class="glyphicon glyphicon-refresh" aria-hidden="true"></span>
                刷新
            </button>
        </div>
    </div>
    <div class="fx-wrapper">
        <form class="form-inline" id="searchForm">
            <div class="form-group">
                <label>状态</label>
                <select id="Status" name="Status" class="selectpicker" data-style="btn-default btn-sm" data-width="100px">
                    <option value="">请选择</option>
                    <option value="1">待审核</option>
                    <option value="2">已通过</option>
                    <option value="3">未通过</option>
                </select>
                <input type="text" class="form-control input-sm" name="username" style="width:250px;" placeholder="请输入用户昵称、用户名称、手机号关键字">
                <input type="text" class="form-control input-sm" name="keyword" placeholder="请输入商号关键字">
                <input name="startTime" id="startTime" type="text" placeholder="创建时间开始" data-date-format="yyyy-mm-dd" class="form-control input-sm">
                <label>~</label>
                <input name="endTime" id="endTime" type="text" placeholder="创建时间结束" data-date-format="yyyy-mm-dd" class="form-control input-sm">
            </div>
            <div class="form-group">
                <button type="button" class="btn btn-default btn-sm" onclick="javascript: $('#dataTable').bootstrapTable('refresh', { silent: true });">
                    <i class="glyphicon glyphicon-search"></i>
                    查询
                </button>
            </div>
        </form>
    </div>
    <div class="fx-wrapper">
        <table id="dataTable" class="table-bordered"></table>
    </div>
</div>

<script>
    var $table = $('#dataTable');

    $(function () {
        initTable();
        bindEvent();

        $("[data-toggle='tooltip']").tooltip();
    });

    //初始化表格
    function initTable() {
        $table.bootstrapTable({
            url: '/Shop/Dev_ShopMember/GetDataList',
            idField: 'Id',
            method: 'post',
            contentType: 'application/x-www-form-urlencoded',
            queryParamsType: '',
            clickToSelect: false,
            pagination: true,
            sidePagination: "server",
            pageNumber: 1,
            pageSize: 30,
            pageList: [10, 30, 60, 100],
            columns: [
                { title: 'ck', field: 'ck', checkbox: true, width: '2%' },
                {
                    title: '用户', field: 'UserId', width: '15%', formatter: function (value, row) {
                        return row['UserName'] + '-' + row['RealName'] + '-' + row['Phone'];
                    }
                },
                { title: '所属商号', field: 'ShopTitle', width: '15%' },
                {
                    title: '是否管理员', field: 'IdAdmin', width: '3%', formatter: function (value, row) {
                        var mapping = {
                            '1': '是',
                            '2': '否'
                        };
                        return mapping[row['IdAdmin']]
                    }
                },
                {
                    title: '创建时间', field: 'CreateTime', width: '5%', formatter: function (value, row) {
                        return value.substring(0,10)
                    }
                },
                {
                    title: '状态', field: 'Status', width: '2%', formatter: function (value, row) {
                        var mapping = {
                            '1': '<span class=\"label label-default\">待审核</span>',
                            '2': '<span class=\"label label-primary\">已通过</span>',
                            '3': '<span class=\"label label-danger\">未通过</span>'
                        };
                        return mapping[value]
                    }
                },
                {
                    title: '备注', field: 'Remark', width: '4%', formatter: function (value, row) {
                        return '<span data-toggle="tooltip" title="' + value + '">查看</span>'
                    }
                },
                {
                    title: '操作', field: '_', width: '10%', formatter: function (value, row) {
                        var builder = new BtnBuilder();
                        builder.AddBtn({ icon: 'glyphicon-edit', function: 'openForm', param: [row['Id']] });
                        builder.AddBtn({ icon: 'glyphicon-trash', function: 'deleteData', param: [row['Id']] });
                        builder.AddBtn({ name: ' 状态处理', icon: 'glyphicon-cog', function: 'updateData', param: [row['Id'], row['Status'], row['Remark']] });

                        return builder.build();
                    }
                }
            ],
            queryParams: function (params) {
                var searchParams = $('#searchForm').getValues();
                $.extend(params, searchParams);

                return params;
            }
        });
    }

    //绑定事件
    function bindEvent() {
        $('#startTime').datetimepicker({
            language: 'zh-CN',
            minView: "month", //选择日期后，不会再跳转去选择时分秒 
        });
        $('#endTime').datetimepicker({
            language: 'zh-CN',
            minView: "month", //选择日期后，不会再跳转去选择时分秒
        });
    }

    //打开表单
    function openForm(id, title) {
        dialogOpen({
            id: 'form',
            title: title,
            btn: ['确定', '取消'],
            height:'80%',
            url: '/Shop/Dev_ShopMember/Form?id={0}'.format(id || ''),
            yes: function (window, body) {
                window.submitForm();
            }
        });
    }

    //删除数据
    function deleteData(id) {
        dialogComfirm('确认删除吗？', function () {
            var ids = [];

            if (typeof (id) == 'string') {//单条数据
                ids.push(id);
            } else {//多条数据
                var rows = $table.bootstrapTable('getSelections');
                if (rows.length == 0) {
                    dialogError('请选择需要删除的数据！');
                    return;
                } else {
                    $.each(rows, function (index, value) {
                        ids.push(value['Id']);
                    })
                }
            }

            loading();
            $.postJSON('/Shop/Dev_ShopMember/DeleteData', { ids: JSON.stringify(ids) }, function (resJson) {
                loading(false);

                if (resJson.Success) {
                    $table.bootstrapTable('refresh');
                    dialogSuccess('删除成功!');
                }
                else {
                    dialogError(resJson.Msg);
                }
            });
        });
    }

    //更新状态
    function updateData(id, status, remark) {
        var _select
        if (status == 1) { _select = '<option value="1" selected>待审核</option><option value="2">已通过</option><option value="3">未通过</option>' }
        if (status == 2) { _select = '<option value="1">待审核</option><option value="2" selected>已通过</option><option value="3">未通过</option>' }
        if (status == 3) { _select = '<option value="1">待审核</option><option value="2">已通过</option><option value="3" selected>未通过</option>' }
        var _html = '<div class="form-group form-group-sm"><div class="col-sm-2" style="padding:0;">状态</div><div class="col-sm-10" style="padding:0;"><select id="_Status" name="Status" class="form-control" data-style="btn-default btn-sm">' + _select + '</select></div></div><br/><div class="form-group form-group-sm"><div class="col-sm-2" style="padding:0;">备注</div><div class="col-sm-10" style="padding:0;"><input id="_Remark" name="_Remark" value="' + remark + '" type="text" class="form-control"></div></div>'
        $("#_Status").val(status)
        dialogComfirm(_html, function () {
            loading();
            $.postJSON('/Shop/Dev_ShopMember/UpdateData', { "id": id, "status": $('#_Status').val(), "remark": $('#_Remark').val() }, function (resJson) {
                loading(false);

                if (resJson.Success) {
                    $table.bootstrapTable('refresh');
                    dialogSuccess('更新成功!');;
                }
                else {
                    dialogError(resJson.Msg);
                }
            });
        });
    }
</script>
