@{
    Layout = "~/Views/Shared/_Layout_List.cshtml";
}

<div class="fx-content">
    <div id="toobar">
        <div class="btn-group btn-group-sm">
            <button onclick="openForm('', '添加数据');" type="button" class="btn btn-default" aria-label="Left Align">
                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                添加
            </button>
            <button onclick="deleteData();" type="button" class="btn btn-default" aria-label="Right Align">
                <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                删除
            </button>
            <button type="button" class="btn btn-default" aria-label="Right Align" onclick="javascript: location.reload();">
                <span class="glyphicon glyphicon-refresh" aria-hidden="true"></span>
                刷新
            </button>
        </div>
    </div>
    <div class="fx-wrapper">
        <form class="form-inline" id="searchForm">
            <div class="form-group">
                <label>查询类别</label>
                <select class="selectpicker" name="condition" data-style="btn-default btn-sm" data-width="100px">
                    <option value="">请选择</option>
                    
                    <option value="ShopTitle">商号标题</option>
                    <option value="ShopPic">商号主图</option>
                    <option value="ShopRemark">商号摘要</option>
                    <option value="ShopContent">商号介绍</option>
                    <option value="UserId">创建人</option>
                    <option value="TypeId">商号类型</option>
                    <option value="ClassId">商号行业</option>
                    <option value="ChannelId">所有者身份</option>
                    <option value="Provice">省份</option>
                    <option value="City">城市</option>
                    <option value="Area">区县</option>
                    <option value="Contact">联系人</option>
                    <option value="ContactTel">联系电话</option>
                    <option value="ContactAddress">经营地址</option>
                    <option value="JoinWay">加入方式</option>
                    <option value="JoinDemand">加入要求</option>
                    <option value="IsAd">是否推广</option>
                    <option value="IsTop">是否置顶</option>
                    <option value="IsRefresh">是否自刷</option>
                    <option value="HasReward">有无红包</option>
                </select>
                <input type="text" class="form-control input-sm" name="keyword" placeholder="请输入关键字">
            </div>
            <div class="form-group">
                <button type="button" class="btn btn-default btn-sm" onclick="javascript: $('#dataTable').bootstrapTable('refresh', { silent: true });">
                    <i class="glyphicon glyphicon-search"></i>
                    查询
                </button>
            </div>
        </form>
    </div>
    <div class="fx-wrapper">
        <table id="dataTable" class="table-bordered"></table>
    </div>
</div>

<script>
    var $table = $('#dataTable');

    $(function () {
        initTable();
        bindEvent();
    });

    //初始化表格
    function initTable() {
        $table.bootstrapTable({
            url: '/Shop/Dev_Shop/GetDataList',
            idField: 'Id',
            method: 'post',
            contentType: 'application/x-www-form-urlencoded',
            queryParamsType: '',
            clickToSelect: false,
            pagination: true,
            sidePagination: "server",
            pageNumber: 1,
            pageSize: 30,
            pageList: [10, 30, 60, 100],
            columns: [
                { title: 'ck', field: 'ck', checkbox: true, width: '3%' },
                { title: '商号标题', field: 'ShopTitle', width: '5%' },
                { title: '商号主图', field: 'ShopPic', width: '5%' },
                { title: '商号摘要', field: 'ShopRemark', width: '5%' },
                { title: '商号介绍', field: 'ShopContent', width: '5%' },
                { title: '创建人', field: 'UserId', width: '5%' },
                { title: '商号类型', field: 'TypeId', width: '5%' },
                { title: '商号行业', field: 'ClassId', width: '5%' },
                { title: '所有者身份', field: 'ChannelId', width: '5%' },
                { title: '省份', field: 'Provice', width: '5%' },
                { title: '城市', field: 'City', width: '5%' },
                { title: '区县', field: 'Area', width: '5%' },
                { title: '联系人', field: 'Contact', width: '5%' },
                { title: '联系电话', field: 'ContactTel', width: '5%' },
                { title: '经营地址', field: 'ContactAddress', width: '5%' },
                { title: '加入方式', field: 'JoinWay', width: '5%' },
                { title: '加入要求', field: 'JoinDemand', width: '5%' },
                { title: '加入费用（按次）', field: 'JoinFeeOnce', width: '5%' },
                { title: '加入费用（按月）', field: 'JoinFeeMonth', width: '5%' },
                { title: '加入费用（按年）', field: 'JoinFeeYear', width: '5%' },
                { title: '加入费用（不限）', field: 'JoinFeeUnlimited', width: '5%' },
                { title: '是否推广', field: 'IsAd', width: '5%' },
                { title: '是否置顶', field: 'IsTop', width: '5%' },
                { title: '是否自刷', field: 'IsRefresh', width: '5%' },
                { title: '有无红包', field: 'HasReward', width: '5%' },
                { title: '推广支出', field: 'AdFee', width: '5%' },
                { title: '红包支出', field: 'RewardFee', width: '5%' },
                { title: '成员数量', field: 'MemberNum', width: '5%' },
                { title: '商讯数量', field: 'ProductNum', width: '5%' },
                { title: '商链数量', field: 'LinkNum', width: '5%' },
                { title: '说说数量', field: 'ChatNum', width: '5%' },
                { title: '问答数量', field: 'AskNum', width: '5%' },
                { title: '留言数量', field: 'MessageNum', width: '5%' },
                { title: '代理数量', field: 'AgentNum', width: '5%' },
                { title: '托客数量', field: 'CustomerNum', width: '5%' },
                { title: '收费累计', field: 'GetPayFee', width: '5%' },
                { title: '打赏累计', field: 'GetRewardFee', width: '5%' },
                { title: '浏览数量', field: 'ClickNum', width: '5%' },
                { title: '关注数量', field: 'CollectionNum', width: '5%' },
                { title: '点赞数量', field: 'GoodNum', width: '5%' },
                { title: '创建时间', field: 'CreateTime', width: '5%' },
                { title: '状态', field: 'Status', width: '5%' },
                { title: '操作时间', field: 'StatusTime', width: '5%' },
                { title: '排序', field: 'Sort', width: '5%' },
                {
                    title: '操作', field: '_', width: '80%', formatter: function (value, row) {
                        var builder = new BtnBuilder();
                        builder.AddBtn({ icon: 'glyphicon-edit', function: 'openForm', param: [row['Id']] });
                        builder.AddBtn({ icon: 'glyphicon-trash', function: 'deleteData', param: [row['Id']] });

                        return builder.build();
                    }
                }
            ],
            queryParams: function (params) {
                var searchParams = $('#searchForm').getValues();
                $.extend(params, searchParams);

                return params;
            }
        });
    }

    //绑定事件
    function bindEvent() {

    }

    //打开表单
    function openForm(id, title) {
        dialogOpen({
            id: 'form',
            title: title,
            btn: ['确定', '取消'],
            height:'80%',
            url: '/Shop/Dev_Shop/Form?id={0}'.format(id || ''),
            yes: function (window, body) {
                window.submitForm();
            }
        });
    }

    //删除数据
    function deleteData(id) {
        dialogComfirm('确认删除吗？', function () {
            var ids = [];

            if (typeof (id) == 'string') {//单条数据
                ids.push(id);
            } else {//多条数据
                var rows = $table.bootstrapTable('getSelections');
                if (rows.length == 0) {
                    dialogError('请选择需要删除的数据！');
                    return;
                } else {
                    $.each(rows, function (index, value) {
                        ids.push(value['Id']);
                    })
                }
            }

            loading();
            $.postJSON('/Shop/Dev_Shop/DeleteData', { ids: JSON.stringify(ids) }, function (resJson) {
                loading(false);

                if (resJson.Success) {
                    $table.bootstrapTable('refresh');
                    dialogSuccess('删除成功!');
                }
                else {
                    dialogError(resJson.Msg);
                }
            });
        });
    }
</script>
