@{
    Layout = "~/Views/Shared/_Layout_List.cshtml";
}
<div class="fx-content">
    <div id="toobar">
        <div class="btn-group btn-group-sm">
            @*<button onclick="openForm('', '添加数据');" type="button" class="btn btn-default" aria-label="Left Align">
                    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                    添加
                </button>*@
            <button onclick="deleteData();" type="button" class="btn btn-default" aria-label="Right Align">
                <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                删除
            </button>
            <button type="button" class="btn btn-default" aria-label="Right Align" onclick="javascript: location.reload();">
                <span class="glyphicon glyphicon-refresh" aria-hidden="true"></span>
                刷新
            </button>
        </div>
    </div>
    <div class="fx-wrapper">
        <form class="form-inline" id="searchForm">
            <div class="form-group">
                <label>类型</label>
                <select id="TypeId" name="TypeId" data-style="btn-default btn-sm" data-width="100px"></select>
                <label>行业</label>
                <select id="ClassId" name="ClassId" data-style="btn-default btn-sm" data-width="100px"></select>
                <label>身份</label>
                <select id="ChannelId" name="ChannelId" data-style="btn-default btn-sm" data-width="100px"></select>
                <label>加入</label>
                <select id="JoinWay" name="JoinWay" class="selectpicker" data-style="btn-default btn-sm" data-width="100px">
                    <option value="">请选择</option>
                    <option value="1">开放加入</option>
                    <option value="2">审核加入</option>
                    <option value="3">付费加入</option>
                </select>
                <label>推广</label>
                <select id="IsAd" name="IsAd" class="selectpicker" data-style="btn-default btn-sm" data-width="100px">
                    <option value="">请选择</option>
                    <option value="1">是</option>
                    <option value="2">否</option>
                </select>
                <label>置顶</label>
                <select id="IsTop" name="IsTop" class="selectpicker" data-style="btn-default btn-sm" data-width="100px">
                    <option value="">请选择</option>
                    <option value="1">是</option>
                    <option value="2">否</option>
                </select>
                <label>自刷</label>
                <select id="IsRefresh" name="IsRefresh" class="selectpicker" data-style="btn-default btn-sm" data-width="100px">
                    <option value="">请选择</option>
                    <option value="1">是</option>
                    <option value="2">否</option>
                </select>
                <label>红包</label>
                <select id="HasReward" name="HasReward" class="selectpicker" data-style="btn-default btn-sm" data-width="100px">
                    <option value="">请选择</option>
                    <option value="1">是</option>
                    <option value="2">否</option>
                </select>
                <label>状态</label>
                <select id="Status" name="Status" class="selectpicker" data-style="btn-default btn-sm" data-width="100px">
                    <option value="">请选择</option>
                    <option value="1">待审核</option>
                    <option value="2">已通过</option>
                    <option value="3">未通过</option>
                </select>
            </div>
            <div class="form-group">
                <input type="text" class="form-control input-sm" style="width:300px;" name="keyword" placeholder="请输入标题、用户昵称、用户名称、手机号关键字"> 
                <input name="startTime" id="startTime" type="text" placeholder="创建时间开始" data-date-format="yyyy-mm-dd" class="form-control input-sm">
                <label>~</label>
                <input name="endTime" id="endTime" type="text" placeholder="创建时间结束" data-date-format="yyyy-mm-dd" class="form-control input-sm">
                <button type="button" class="btn btn-default btn-sm" onclick="javascript: $('#dataTable').bootstrapTable('refresh', { silent: true });">
                    <i class="glyphicon glyphicon-search"></i>
                    查询
                </button>
            </div>
        </form>
    </div>
    <div class="fx-wrapper">
        <table id="dataTable" class="table-bordered"></table>
    </div>
</div>
<script>
    var $table = $('#dataTable');

    $(function () {
        initTable();
        bindEvent();
    });

    //初始化表格
    function initTable() {
        $table.bootstrapTable({
            url: '/Shop/Dev_Shop/GetDataList',
            idField: 'Id',
            method: 'post',
            contentType: 'application/x-www-form-urlencoded',
            queryParamsType: '',
            clickToSelect: false,
            pagination: true,
            sidePagination: "server",
            pageNumber: 1,
            pageSize: 30,
            pageList: [10, 30, 60, 100],
            columns: [
                { title: 'ck', field: 'ck', checkbox: true, width: '2%' },
                {
                    title: '商号', field: 'ShopTitle', width: '12%', formatter: function (value, row) {
                        return '<img src="http://localhost:58424/css/fx/defaultAvatar.png" width="80%" /><br/><br/>' + row['ShopTitle'];
                    }
                },
                {
                    title: '创建人信息', field: 'UserId', width: '17%', formatter: function (value, row) {
                        return '用户昵称：' + row['UserName'] + '<br/>用户名称：' + row['RealName'] + '<br/>手机号：' + row['Phone'] + '<br/><br/>联系人：' + row['Contact'] + '<br/>联系电话：' + row['ContactTel'] + '<br/>所在区域：' + row['Provice'] + row['City'] + row['Area'] + '<br/>经营地址：' + row['ContactAddress'];
                    }
                },
                {
                    title: '类型|行业|身份', field: 'TypeId', width: '8%', formatter: function (value, row) {
                        return '类型：' + row['TypeName'] + '<br/>行业：' + row['ClassName'] + '<br/>身份：' + row['ChannelName'];
                    }
                },
                {
                    title: '加入方式', field: 'JoinWay', width: '10%', formatter: function (value, row) {
                        var mapping = {
                            '1': '开放加入',
                            '2': '审核加入',
                            '3': '付费加入',
                        };
                        if (value == '1') {
                            return mapping[value];
                        } else if (value == '2') {
                            return mapping[value] + "<br/><br/>加入要求：" + row['JoinDemand'];
                        } else {
                            return mapping[value] + "<br/><br/>次费(￥)：" + row['JoinFeeOnce'] + "<br/>月费(￥)：" + row['JoinFeeMonth'] + "<br/>年费(￥)：" + row['JoinFeeYear'] + "<br/>不限(￥)：" + row['JoinFeeUnlimited'];
                        }
                    }
                },
                {
                    title: '推广', field: 'Id', width: '10%', formatter: function (value, row) {
                        var mapping = {
                            '1': '是',
                            '2': '否'
                        };
                        return '是否推广：' + mapping[row['IsAd']] + '<br/>是否置顶：' + mapping[row['IsTop']] + '<br/>是否自刷：' + mapping[row['IsRefresh']] + '<br/>有无红包：' + mapping[row['HasReward']];
                    }
                },
                {
                    title: '统计', field: 'Id', width: '10%', formatter: function (value, row) {
                        return '代理数量：' + row['AgentNum'] + '<br/>托客数量：' + row['CustomerNum'] + '<br/>成员数量：' + row['MemberNum'] + '<br/>商讯数量：' + row['ProductNum'] + '<br/>商链数量：' + row['LinkNum'] + '<br/>说说数量：' + row['ChatNum'] + '<br/>问答数量：' + row['AskNum'] + '<br/>留言数量：' + row['MessageNum'] + '<br/>浏览数量：' + row['ClickNum'] + '<br/>关注数量：' + row['CollectionNum'] + '<br/>点赞数量：' + row['GoodNum'];
                    }
                },
                {
                    title: '收入|支出', field: 'Id', width: '10%', formatter: function (value, row) {
                        return '收费累计：' + row['GetPayFee'] + '<br/>打赏累计：' + row['GetRewardFee'] + '<br/><br/>推广支出：' + row['AdFee'] + '<br/>红包支出：' + row['RewardFee'];
                    }
                },
                {
                    title: '状态', field: 'Status', width: '8%', formatter: function (value, row) {
                        var mapping = {
                            '1': '<span class=\"label label-default\">待审核</span>',
                            '2': '<span class=\"label label-primary\">已通过</span>',
                            '3': '<span class=\"label label-danger\">未通过</span>'
                        };
                        if (row['StatusTime'] == null) {
                            return mapping[value] + '<br/><span data-toggle="tooltip" title="' + row['Remark'] + '">备注</span><br/><br/>创建时间：<br/>' + row['CreateTime'].substring(0, 10)
                        } else {
                            return mapping[value] + '<br/><span data-toggle="tooltip" title="' + row['Remark'] + '">备注</span><br/><br/>操作时间：<br/>' + row['StatusTime'].substring(0, 10) + '<br/><br/>创建时间：<br/>' + row['CreateTime'].substring(0, 10)
                        }
                    }
                },
                { title: '排序', field: 'Sort', width: '2%' },
                {
                    title: '操作', field: '_', width: '8%', formatter: function (value, row) {
                        var builder = new BtnBuilder();
                        builder.AddBtn({ icon: 'glyphicon-edit', function: 'openForm', param: [row['Id']] });
                        builder.AddBtn({ icon: 'glyphicon-trash', function: 'deleteData', param: [row['Id']] });
                        builder.AddBtn({ name: ' 状态处理', icon: 'glyphicon-cog', function: 'updateData', param: [row['Id'], row['Status'], row['Remark']] });

                        return builder.build();
                    }
                }
            ],
            queryParams: function (params) {
                var searchParams = $('#searchForm').getValues();
                $.extend(params, searchParams);

                return params;
            }
        });
    }

    //绑定事件
    function bindEvent() {
        $('#TypeId').selectpicker({
            url: '/SystemManage/Dev_Type/GetDataList_NoPagin?parentId=1204236075598483456',
            valueField: 'Id',
            textField: 'Name',
            pleaseSelect: true
        });
        $('#ClassId').selectpicker({
            url: '/SystemManage/Dev_Type/GetDataList_NoPagin?parentId=1204236610573570048',
            valueField: 'Id',
            textField: 'Name',
        });
        $('#ChannelId').selectpicker({
            url: '/SystemManage/Dev_Type/GetDataList_NoPagin?parentId=1206262951519064064',
            valueField: 'Id',
            textField: 'Name',
        });
        $('#startTime').datetimepicker({
            language: 'zh-CN',
            minView: "month", //选择日期后，不会再跳转去选择时分秒 
        });
        $('#endTime').datetimepicker({
            language: 'zh-CN',
            minView: "month", //选择日期后，不会再跳转去选择时分秒
        });
    }

    //打开表单
    function openForm(id, title) {
        dialogOpen({
            id: 'form',
            title: title,
            btn: ['确定', '取消'],
            height: '80%',
            url: '/Shop/Dev_Shop/Form?id={0}'.format(id || ''),
            yes: function (window, body) {
                window.submitForm();
            }
        });
    }

    //删除数据
    function deleteData(id) {
        dialogComfirm('确认删除吗？', function () {
            var ids = [];

            if (typeof (id) == 'string') {//单条数据
                ids.push(id);
            } else {//多条数据
                var rows = $table.bootstrapTable('getSelections');
                if (rows.length == 0) {
                    dialogError('请选择需要删除的数据！');
                    return;
                } else {
                    $.each(rows, function (index, value) {
                        ids.push(value['Id']);
                    })
                }
            }

            loading();
            $.postJSON('/Shop/Dev_Shop/DeleteData', { ids: JSON.stringify(ids) }, function (resJson) {
                loading(false);

                if (resJson.Success) {
                    $table.bootstrapTable('refresh');
                    dialogSuccess('删除成功!');
                }
                else {
                    dialogError(resJson.Msg);
                }
            });
        });
    }

    //更新状态
    function updateData(id, status, remark) {
        var _select
        if (status == 1) { _select = '<option value="1" selected>待审核</option><option value="2">已通过</option><option value="3">未通过</option>' }
        if (status == 2) { _select = '<option value="1">待审核</option><option value="2" selected>已通过</option><option value="3">未通过</option>' }
        if (status == 3) { _select = '<option value="1">待审核</option><option value="2">已通过</option><option value="3" selected>未通过</option>' }
        var _html = '<div class="form-group form-group-sm"><div class="col-sm-2" style="padding:0;">状态</div><div class="col-sm-10" style="padding:0;"><select id="_Status" name="Status" class="form-control" data-style="btn-default btn-sm">' + _select+ '</select></div></div><br/><div class="form-group form-group-sm"><div class="col-sm-2" style="padding:0;">备注</div><div class="col-sm-10" style="padding:0;"><input id="_Remark" name="_Remark" value="' + remark + '" type="text" class="form-control"></div></div>'
        $("#_Status").val(status)
        dialogComfirm(_html, function () {
            loading();
            $.postJSON('/Shop/Dev_Shop/UpdateData', { "id": id, "status": $('#_Status').val(), "remark": $('#_Remark').val() }, function (resJson) {
                loading(false);

                if (resJson.Success) {
                    $table.bootstrapTable('refresh');
                    dialogSuccess('更新成功!');;
                }
                else {
                    dialogError(resJson.Msg);
                }
            });
        });
    }
</script>
